<main>
    <h1>Um parceiro para ajudar você a se exercitar</h1>
    <figure class="figure_container">
      <img src="../../../assets/academia.jpg" alt="Uma academia">
    </figure>
    <div class="obj_container">
      <h2>Qual objetivo?</h2>
      <p>Seja você um amante da academia de longa data, um entusiasta de exercícios ou alguém que está apenas começando sua jornada de condicionamento físico, 
        o <strong>Gymbro</strong> é o lugar perfeito para você. Aqui, acreditamos que o sucesso no mundo do fitness não é apenas sobre levantar pesos, fazer cardio ou seguir 
        uma dieta rigorosa. É sobre apoio, compartilhamento de experiências e encorajamento mútuo.</p>
    </div>
    <div class="benefits_container">
      <h2>Benefícios da atividade física</h2>
      <div class="cards_container">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Sono</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../assets/sono.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Os exercícios físicos promovem um efeito relaxante no corpo e na mente, reduzindo a tensão e proporcionando uma sensação de tranquilidade. Melhorando a qualidade do sono.
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Humor</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../assets/humor.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Ao se exercitar, você libera endorfina, hormônio relacionado ao prazer e ao estado de felicidade. 
              Essa liberação hormonal pode ajudar a melhorar o humor.
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Massa muscular</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../assets/forte.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              A musculação, aliada a uma alimentação equilibrada e a um descanso adequado , permite o crescimento de músculos fazendo com que
              se desenvolvam com mais volume e força.
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Pressão arterial</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../assets/coracao.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              fazer atividades físicas aeróbicas regularmente, como caminhada, por exemplo, ajuda a reduzir a pressão arterial e 
              a melhorar a circulação sanguínea.Fazendo com que você tenha mais saúde.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </main>
