<ng-template [ngIf]="!tokenService.hasToken()">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</ng-template>
<ng-template [ngIf]="tokenService.hasToken()">
    <mat-sidenav-container>
        <mat-sidenav position="end" #SideNav>
            <mat-nav-list>
                <div class="nav-item" (click)="goToGym()">
                    <a mat-list-item >Gym</a>
                </div>
                <div class="nav-item" (click)="goToAnotacao()">
                    <a mat-list-item >Anotações</a>
                </div>
                <div class="nav-item">
                    <a mat-list-item >
                        <div class="item-icon" (click)="logout()">
                            <span>Logout</span><mat-icon>logout</mat-icon>
                        </div>
                    </a>
                </div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-header [sidenavRef]="SideNav"></app-header>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-template>
