<main>
    <div class="botao_criar">
        <button mat-stroked-button color="warn"><a [routerLink]="['/CriarAnotacao']">CRIAR ANOTAÇÃO</a></button>
    </div>
    <div class="anotacoes" *ngIf="anotacoes !== undefined">
      <div class="anotacao" *ngFor="let anotacao of anotacoes">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{anotacao.titulo}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{anotacao.descricao}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
</main>
